<!-- <p>report-view works!</p> -->
<app-parent-dashboard></app-parent-dashboard>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ms-auto">
                <div class="row pt-md-5 mt-md-3 mb-5">
                    
                    <div class="col-xl-5 col-sm-6 p-2">
                        <div id="teacher" class="card-body">
                            <h5>
                                Teacher
                            </h5>
                            <hr class="my-4">
                            <div class="text-left mb-2" style="size: 20px;">
                                Improvement is need in socializing with peers <br> present in the class
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-5 col-sm-6 p-2">
                        <div id="parent" class="card-body">
                            <h5>
                                Parent
                            </h5>
                            <hr class="my-4">
                            <div class="text-left mb-2" style="size: 20px;">
                                Thanks to the teachers, my child is much <br>more well-behaved
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-5 col-sm-6 p-2">
                        <img src="../../../../assets/images/CHARTS.jpeg" alt="StudyHabit">
                    </div>

                    <div class="col-xl-5 col-sm-6 p-2">
                        <img id="pie" src="../../../../assets/images/charts4.jpeg" alt="piechart">  
                    </div>

                    <div class="col-xl-5 col-sm-6 p-2">
                        <img src="../../../../assets/images/chart2.jpeg" alt="Improvement">
                    </div>

                    <div class="col-xl-5 col-sm-6 p-2">
                        <img id="academics" src="../../../../assets/images/chart3.jpeg" alt="academics">  
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
