
<body>
    <nav class="fixed-top">
        <div class="navbar navbar-expand-md bg-dark">
            <!-- <a href=""><i class="fa fa-child text-warning fa-4x mx-3"></i></a> -->
            <button class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#nav"><span class="navbar-toggler-icon"></span></button>
            <div class="navbar-collapse collapse justify-content-between" id="nav">
                <ul class="navbar-nav">
                    <li><a class="nav-link text-light text-uppercase fw-bold mx-3" href="">Home</a></li>
                    <li><a class="nav-link text-light text-uppercase fw-bold mx-3" href="">About</a></li>
                    <li data-bs-toggle="dropdown" class="dropdown">
                        <a class="nav-link text-light text-uppercase fw-bold mx-3 dropdown-toggle" href="">Calculators</a>
                        <div class="dropdown-menu">
                            <a href="" class="dropdown-item">Wealth Calculator
                            </a>
                            <a href="" class="dropdown-item">Goal Calculator
                            </a>
                            <a href="" class="dropdown-item">Investment Calculator
                            </a>
                          </div>
                        </li>
                    <li><a class="nav-link text-light text-uppercase fw-bold mx-3" href="">Contact</a></li>
                </ul>
                <form>
                    <div class="input-group mx-">
                        <input type="text" placeholder="Search here.." class="form-control">
                        <button class="btn btn-light"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</body>
