<app-teacher-dashboard></app-teacher-dashboard>
<div class="container-fluid" >
  <div class="row mb-5">
    <div class="col-xl-10 col-lg-9 col-md-8 ms-auto mt-5" >
      <div class="row align-items-center"  >
        <div class="col-xl-12 col-12 mb-4 mb-xl-0" >
          <ngb-accordion #acc="ngbAccordion" *ngFor="let category of categories" >
              <ngb-panel class="fw-bolder" type="danger" title="{{category.CategoryName}}">
                  <ng-template ngbPanelContent>
                    <table class="table table-striped bg-light">
                      <thead>
                          <tr> 
                            <td><h4>PARAMETERS</h4></td>
                          </tr>
                      </thead>
                    </table>
                    <!-- <hr> -->
                      <div  *ngFor="let obj of object">
                        <div *ngIf="obj.CategoryID==category.CategoryID">
                          <!-- <p>{{obj?.ParameterName}}</p> -->
                          <table>
                            <tr>
                              <td class="pe-5">{{obj.ParameterName}}</td>
                              <br>
                              <br>
                              <td ><input class="ms-5" type="radio" name="{{obj.ParameterID}}" value="1" (click)="setData(obj.CategoryID,this.rollNo,1)">1</td>
                              <td><input class="ms-5" type="radio" name="{{obj.ParameterID}}" value="2" (click)="setData(obj.CategoryID,this.rollNo,2)">2</td>
                              <td><input class="ms-5" type="radio" name="{{obj.ParameterID}}" value="3" (click)="setData(obj.CategoryID,this.rollNo,3)">3</td>
                              <td><input class="ms-5" type="radio" name="{{obj.ParameterID}}" value="4" (click)="setData(obj.CategoryID,this.rollNo,4)">4</td>
                              <td><input class="ms-5" type="radio" name="{{obj.ParameterID}}" value="5" (click)="setData(obj.CategoryID,this.rollNo,5)">5</td>
                            </tr>
                              <!-- <tr scope="row">{{obj?.ParameterName}}<td><input type="radio" name="{{obj.ParameterID}}" value="1" (click)="updateValues(obj.ParameterID,1)">1</td></tr>
                              <td>
                              <td><input type="radio" name="{{obj.ParameterID}}" value="2" (click)="updateValues(obj.ParameterID,2)">2</td>
                              <td><input type="radio" name="{{obj.ParameterID}}" value="3" (click)="updateValues(obj.ParameterID,3)">3</td>
                              <td><input type="radio" name="{{obj.ParameterID}}" value="4" (click)="updateValues(obj.ParameterID,4)">4</td>
                              <td><input type="radio" name="{{obj.ParameterID}}" value="5" (click)="updateValues(obj.ParameterID,4)">5</td> -->
                          </table>
                          
                        </div> 
                      </div>
                  </ng-template>
              </ngb-panel>
          </ngb-accordion>
          <div>
            <button class="btn "type="submit" (click)="submitForm()">SUBMIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                    
                