<body>
  <div class="container">
      <div class="row px-3"style="padding:30px">
          <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
              <div class="img-left d-none d-md-flex">
                <div class="col-6 " style="padding: 100px;">
                  <figure><img src="assets/images/sign-up-bg.jpeg.jpg" alt="sing up image" style="padding-top: 40px;"></figure>
                          
              </div>
              </div>
              <div class="card-body">
                <h4 class="title text-center mt-4" style="font-size: 30px;">
                  Teacher Sign Up
              </h4>
              
                  <form [formGroup]="teacherSignUp" (ngSubmit)="submitForm()">
                    
                      <div class="form-input">
                          <!-- <span><fa-icon [icon]="icons.userIcon"></fa-icon></span> -->
                          <!-- <label for="floatingInput" style="font-size: 15px;"> Name:</label> -->
                          <input type="text"  placeholder="First Name" formControlName="firstName" required>
                      </div>
                      <div class="form-input">
                        <!-- <span><fa-icon [icon]="icons.userIcon"></fa-icon></span> -->
                        <!-- <label for="floatingInput" style="font-size: 15px;"> Lastname:</label> -->
                        <input type="text" placeholder="Last Name" formControlName="lastName" required="">
                    </div>
                    <div class="form-input">
                      <!-- <span><fa-icon [icon]="icons.userIcon"></fa-icon></span> -->
                      <!-- <label for="floatingInput" style="font-size: 15px;"> Username:</label> -->
                      <input type="text" placeholder="UserName" formControlName="userName" required="">
                  </div>
                      <div class="form-input">
                        <!-- <label for="floatingInput" style="font-size: 15px;"> Email Address:</label> -->
                          <input type="email" name="" placeholder="Email Address" tabindex="10" required>
                      </div>
                      <div class="form-input">
                        <!-- <label for="floatingInput" style="font-size: 15px;"> Class:</label> -->
                        <input type="name" name="" placeholder="Class" tabindex="10" formControlName="division">
                    </div>
                  <div>
                    <label for="floatingInput" style="font-size: 15px;"> Gender:</label>
                    <div class="row mb-3">
                      <div class="form-check" >
                          
                        <label class="form-check-label" for="flexRadioDefault1">
                          <input type="radio" formControlName="gender" value="male" name="gender" id="flexRadioDefault1">
                        Male
                        </label> 
                      </div>
                 
                      <div class="form-check">
                            
                        <label class="form-check-label" for="flexRadioDefault2">
                          <input type="radio" value="female" formControlName="gender"name="gender" id="flexRadioDefault2">
                        Female
                        </label>
                       
                    </div>
                  </div>
                </div>
                      <div class="form-input">
                          <!-- <span><i class="fa fa-key"></i></span> -->
                          <!-- <label for="floatingInput" style="font-size: 15px;"> Password:</label> -->
                          <!-- <span><fa-icon [icon]="icons.keyIcon"></fa-icon></span> -->
                          <input type="password" name="" placeholder="Password" required>
                      </div>
                      <div class="form-input">
                        <!-- <span><i class="fa fa-key"></i></span> -->
                        <!-- <label for="floatingInput" style="font-size: 15px;">Confirm Password:</label> -->
                        <!-- <span><fa-icon [icon]="icons.keyIcon"></fa-icon></span> -->
                        <input type="password" name="" placeholder="Confirm Password" required>
                    </div>
                    <div class="text-center mb-3">
                      <button type="submit" class="btn btn-block text-uppercase" (click)="submitForm()">SUBMIT</button>
                  </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</body>
       