<app-teacher-dashboard></app-teacher-dashboard>

<body>
  <div class="row-fluid">
      <div class="col-xl-10 col-lg-9 col-md-8 ms-auto">
          <div class="row pt-md-5 mt-md-3 mb-5">
              <div class="col-sm">
                  <div class="container">
                      <nav class="navbar navbar-expand-lg navbar-light bg-light">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                            <a class="navbar-brand" href="#about">About</a>
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                              <li class="nav-item active">
                                <a class="nav-link" href="#portfolio">Portfolio <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#services">Services</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                              </li>
                            </ul>
                            <!-- <form class="form-inline my-2 my-lg-0">
                              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form> -->
                          </div>
                        </nav>
                  
                        <div class="jumbotron text-center">
                          <h1>Euro Kids Kindergarden School</h1> 
                          <p>We specialize in nuturing the kids to the best of our ability and help them grow into young adults of this nation</p> 
                        </div>
                  
                        <div id="about" class="container-fluid">
                          <div class="row">
                            <div class="col">
                              <h2>About School Page</h2><br>
                              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                          </div>
                        </div>
                        <br><br>
                        <div class="container-fluid bg-grey">
                          <div class="row">
                            <div class="col">
                              <h2>Our Values</h2><br>
                              <p><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br>
                              <p><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                          </div>
                        </div>
                        <div id="services" class="container-fluid text-center">
                          <h2>SERVICES</h2>
                          <h4>What we offer</h4>
                          <br>
                          <div class="row slideanim">
                            <div class="col-sm-4">
                              <span class="glyphicon glyphicon-user logo-small"></span>
                              <h4>PROFILE</h4>
                              <p>Log into your respective profile in the interface</p>
                            </div>
                            <div class="col-sm-4">
                              <span class="glyphicon glyphicon-info-sign logo-small"></span>
                              <h4>INFORMATION</h4>
                              <p>Required information available at the fingertips</p>
                            </div>
                            <div class="col-sm-4">
                              <span class="glyphicon glyphicon-eye-open logo-small"></span>
                              <h4>VIEW</h4>
                              <p>View child's performance and being in the school</p>
                            </div>
                          </div>
                          <br><br><br>
                    <div class="row slideanim">
                      <div class="col-sm-4">
                        <span class="glyphicon glyphicon-wrench logo-small"></span>
                        <h4>ANALYZE</h4>
                        <p>Analysis can be done using charts and graphics made available</p>
                      </div>
                      <div class="col-sm-4">
                        <span class="glyphicon glyphicon-certificate logo-small"></span>
                        <h4>UPDATE</h4>
                        <p>Update the information easily according to the development</p>
                      </div>
                      <div class="col-sm-4">
                        <span class="glyphicon glyphicon-link logo-small"></span>
                        <h4 style="color:#303030;">CONNECT</h4>
                        <p>Connect to the admin or teachers incase of any grievances </p>
                      </div>
                    </div>
                  </div>
                  <br><br><br>
                  <div id="portfolio" class="container-fluid text-center bg-grey">
                      <h2>Portfolio</h2><br>
                      <h4>Analysis made easy</h4>
                      <br>
                      <h2>What parents have to say</h2>
                      <div>"This school is exactly what my child needed"
                        John Doe, Salesman, Rep Inc.
                        "One step doorway to stay updated what children are upto in the school"
                        Susaan, Director, Bostire
                        "Wait, I can know how my child is doing without having to ask him?This is great"
                        Chany, Artist, GreenCup
                      </div>
                  
                      <br><br><br>
                  
                      <div id="contact" class="container-fluid bg-grey">
                          <h2 class="text-center">CONTACT</h2>
                          <div class="row">
                            <div class="col-sm-5">
                              <p>Contact us and we'll get back to you within 24 hours.</p>
                              <p id="1"><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
                              <p id="2"><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                              <p id="3"><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
                            </div>
                          </div>
                        </div>
                    </div>

              </div>
          </div>
      </div>
  </div>
  </div>
</body>