body{
    height: 90vh;
    background-color: lightblue !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

img{
    width: 200px;
}

.card{
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    width: 1000px;
}

.card-body{
    padding: 0rem;
}

.title{
    margin-bottom: 2.5rem;
}

.form-box button[type="submit"]{
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: #007bff;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    padding: 10px;
    width: 300px;
}

.form-box button[type="submit"]:hover{
    background-color: #0069d9;
}