<body>
    <section>
      <div class="row">
        <h1>Choose Your Role</h1>
      </div>
      <div class="container">
        <div class="row">
            <!-- Column 1-->
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="assets/images/teacher_1512060.jpg" />
                    </div>
                    <h2>Teacher</h2>
                    <p>Re-shape lives</p>
                    <button type="button" (click)="tlogIn()" class="btn btn-primary">
                        <h5>SELECT</h5>
                    </button>
                    
                </div>
            </div>
            <!-- Column 2-->
            
            <!-- Column 3-->
            <div class="column" id = "parent">
            <div class="card">
                <div class="img-container">
                    <img src="assets/images/parent (1).jpg" />
                </div>
                <h2>Parent</h2>
                <p>Build lives</p>
                <button type="button" (click)="plogIn()" class="btn btn-primary">
                    <h5>SELECT</h5>
                </button>
                
            </div>
            </div>
        </div>
      </div>
    </section>
  </body>