<!-- <p>test works!</p> -->
<!-- {
    name:'',
    dob:'',
    lname:'',
    marks:{
        p:'',
        c:'',
        m:'',
    }
    files=[file1,file2,file3]
} -->

<!-- here ,
name ,lname,dob:==>all are form controls  each input field is a form controls
marks :==> is a formgroup where p ,c and m are all form controls
files:=> is from array where file1,file2 and file3 are also form controls -->

<!-- These are common classes between template driven and reactive forms 
formcontrol,formgroup and formarray all are classes -->

<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ms-auto">
          <div class="row pt-md-5 mt-md-3 mb-5">
            <div class="col-xl-3 col-sm-6 p-2">
              {{student | json}}
              
              <!-- first name -->
             <form #studentForm="ngForm" (ngSubmit)="onSubmit(studentForm)">
              <div class="form-group">
                <label for="firstName">First Name</label>
                  <input required type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="student.firstName" #firstName="ngModel">
                  <div [hidden]="firstName.valid || firstName.untouched" class="alert alert-danger">First Name is required</div>

              </div>

              <!-- last name -->
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="student.lastName" #lastName="ngModel">
                <div [hidden]="lastName.valid || lastName.untouched" class="alert alert-danger">Last Name is required</div>
              </div>


              <div class="form-group">
                <label for="standard">Standard</label>
                <select class='form-control' id="standard" name="standard" [(ngModel)]="student.standard">
                    <option *ngFor='let std of standards' [value]="std">{{std}}</option>
                </select>
              </div>

              <button type="submit" class="btn btn-success" [disabled]="studentForm.status === 'INVALID' ">Submit</button>
              <button type="submit" class="btn btn-success" (click)="resetForm(studentForm);">Reset</button>
             </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>



<!-- jab form banate hai , name attribute daalna zaroori hai because ek form group banana hota hai
     Template reference variables help to use data from one part of a template in another part of the template.
 -->