<app-teacher-dashboard></app-teacher-dashboard>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ms-auto">
                <div class="row pt-md-5 mt-md-3 mb-5">
                    
                    <google-chart *ngIf="myData.length>0"
                        [title]="title"
                        [type]="myType"
                        [data]="myData" 
                        [width]="width"
                        [height]="height"
                        HTML  [options]="myOptions"
                        >

                      </google-chart>
                        
                    </div>
                </div>
            </div>
        </div>
</body> 

