<app-parent-dashboard></app-parent-dashboard>
<div class="row-fluid">
  <div class="col-xl-10 col-lg-9 col-md-8 ms-auto">
      <div class="row pt-md-5 mt-md-3 mb-5">
          <div class="col-sm">
              <div class="container">
                <body>
                  <section class="header">
                      <nav>
                          <a href="index.html"><img src="images/logo.png"></a>
                          
                      </nav>
                
                      <div class="text-box">
                          <h1>Kidzee PlaySchool</h1>
                          <p>In our decade-long legacy of nurturing the ‘unique potential’ of every child, we have shaped, in metros and suburbs alike, a new cult of schooling for toddlers. 
                              On this revolutionary journey, we evidenced and impacted the much-needed shift from ‘teachers’ quieting an assembly line of children to ‘enablers’ shaping 
                              children into smart-thinking, dynamic, and ‘ready-for-life’ individuals.
                              We value our commitment towards quality child education along with complementing aspects of self-reliance, peer interaction, and individual growth. 
                              In this process, we created a solid foundation in curriculum and polished our business model to make it profitable for all the stakeholders involved.
                          </p>
                          
                      </div>
                  </section>
                
                
                  <section class="achievements">
                      <div id="achievements">
                          
                      <h1>Our achievements</h1><i class="bi bi-trophy"></i>
                      <div id="achievements">
                        <div class="carousel carousel-dark slide">
                          <ngb-carousel *ngIf="images">
                              <ng-template ngbSlide *ngFor="let img of images; index as i">
                                  <div class="gallery_container">
                                      <div class="gallery_img">
                                          <figure>
                                              <img [src]="img" alt="Random first slide" class="d-block w-100" height="500px" weight="400px">
                                          </figure>
                                      </div>
                                  </div>
                              </ng-template>
                          </ngb-carousel>
                      </div>
                    </div>
                      </div>
                  </section>
                  
                
                
                  <!------ course ------>
                  
                
                
                
                  <!--- NURSERY ETC-->
                  <div id="cards">
                      <div class="row row-cols-1 row-cols-md-3 g-4">
                          <div class="col">
                            <div class="card h-100">
                              <img src="assets/images/playgroup.jpg" class="card-img-top" height="400 px">
                              <div class="card-body">
                                <h5 class="card-title">Play Group</h5>
                                <p class="card-text">Children start to explore the world around them as soon as they are born</p>
                              </div>
                              <div class="card-footer">
                                <small class="text-muted">Age Group- 1.5 to 2.5 years</small>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="assets/images/nursery.jpg" class="card-img-top" height="400 px">
                              <div class="card-body">
                                <h5 class="card-title">Nursery</h5>
                                <p class="card-text">Quality education in the early years of preschool sets a firm
                                  foundation in the overall development of a child.
                                </p>
                              </div>
                              <div class="card-footer">
                                <small class="text-muted">Age Group- 2.5 to 3.5 years</small>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                              <img src="assets/images/kindergarten .jpg" class="card-img-top" height="400 px">
                              <div class="card-body">
                                <h5 class="card-title">Kindergarten</h5>
                                <p class="card-text">The transition from preschool to primary school is a crucial time of
                                  a change for both children as well as their parents.
                                </p>
                              </div>
                              <div class="card-footer">
                                <small class="text-muted">Age Group- 3.5 to 5.5 years</small>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                
                
                
                
                  <!------ campus ------>
                  
                
                  <!------ facilities ------>
                
                
                  <!------ testimonials ------>
                  <section class="testimonials">
                      <h1>Parents' View's</h1>
                      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                
                      <div class="row">
                          <div class="testimonial-col">
                              <img src="assets/images/user1.jpg">
                              <div>
                                  <p>
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae impedit deleniti voluptatem voluptate nihil earum, praesentium repellat molestiae, ea, nam vel quibusdam recusandae accusantium voluptates illum eius minima aperiam deserunt?
                                  </p>
                                  <h3>Hannah Wang</h3>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star" aria-hidden="false"></i>
                              </div>
                          </div>
                          <div class="testimonial-col">
                              <img src="assets/images/user2.jpg">
                              <div>
                                  <p>
                                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae impedit deleniti voluptatem voluptate nihil earum, praesentium repellat molestiae, ea, nam vel quibusdam recusandae accusantium voluptates illum eius minima aperiam deserunt?
                                  </p>
                                  <h3>Daniel Rodrigues</h3>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                              </div>
                          </div>
                      </div>
                  </section>
                
                  <!-- call to action -->
                  <section class="cta">
                      <div id="contact">
                          <h2>Contact Us</h2>
                          <h6>Visit Us</h6>
                          <p>Zee Learn Limited,<br>
                              135, Continental Building,<br>
                              B wing, Worli, Mumbai,<br>
                              Maharashtra 400018.
                          </p>
                  
                          <h6>Call Us</h6>
                          <p><a href="tel:+919320063100">+91 93200 63100</a></p>
                          
                          <h6>Email Us</h6>
                          <p><a id="femail" href="">care@kidzee.com</a></p>
                  
                          <h6>Timing</h6>
                          <p>10:00AM - 6:00PM, Sun-Fri</p>
                          
                      </div>
                
                  </section>
                
                
                </body>


                </div>
              </div>
            </div>
          </div>
        </div>
                


