<!-- <p>about works!</p> -->

    <section class="container-fluid " style="height:100vh">
        <div class="row  justify-content-center text-center align-items-center style=" style="height:100vh">
            <div class="col-md-10">
                <h2 class="display-2 text-capitalize">
                    <span class="text-dark">360 Performance Analysis System</span>
                </h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, soluta porro. Tempora ea delectus nihil adipisci nam debitis commodi deserunt. Tempore, architecto blanditiis sit nostrum illum earum obcaecati consequuntur aliquam facilis magnam quisquam et atque rem numquam, ullam, debitis nihil fuga a. Impedit ut saepe amet, officiis perferendis vitae! Aut dolorum, nostrum voluptas vitae iste totam assumenda eius necessitatibus aliquid odio quos delectus voluptatem! Explicabo impedit a architecto sequi iusto nihil eos? Impedit minima eum ratione delectus iste dolore, voluptate, dolor blanditiis nostrum non vitae laborum sit debitis voluptas odio cumque recusandae amet nam quisquam nemo explicabo! Doloribus, suscipit voluptatibus!</p>
            </div>
        </div>
    </section>
    <div class="row text-center justify-content-center p-5">

        <div class="col-md-4 col-10">
            <i class="fa fa-desktop fa-6x text-warning pb-3"></i>
            <h1 class="text-secondary">User-Friendly</h1>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, consequatur.</p>
        </div>  
        <div class="col-md-4 col-10">
            <i class="far fa-edit fa-6x text-warning pb-3"></i>
            <h1 class="text-secondary">Upscale</h1>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, consequatur.</p>
        </div>
        <div class="col-md-4 col-10">
            <i class="fa fa-cogs fa-6x text-warning pb-3"></i>
            <h1 class="text-secondary">Exclusive</h1>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, consequatur.</p>
        </div>
        <div>
            <button (click)="redirect()">Next</button>
        </div>
</div>

